<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/indicator"></ion-back-button>
    </ion-buttons>
    <ion-title>{{interfaceHeaderTitle}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Digita a UGB" (ionInput)="getItems($event)" clearInput></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list *ngFor="let item of indicators">
    <ion-item routerDirection="forward" [routerLink]="['/view-indicator-detail', item.idUGB, item.id, item.metodoPreenchimento, item.nomeUgb]">
      <ion-label class="ion-text-wrap">{{item.nome}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
