<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{interfaceHeaderTitle}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Digita o nome do Departamento" (ionInput)="getItems($event)" clearInput></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-list *ngIf="isItemAvailable">
    <ion-item routerDirection="forward" [routerLink]="['/view-indicator', item.id]" *ngFor="let item of ugbs">
      <ion-label class="ion-text-wrap">{{item.nome}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>