<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>5S</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to 5S</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore eos unde, doloribus aliquam facere inventore iusto atque quae harum nemo quis fugiat nam tempore consequuntur in? Sapiente modi deleniti nulla?</p>
    </ion-card-content>
  </ion-card>
</ion-content>